@using WebApplication800000.Controllers
@{
    ViewBag.Title = "ShoppingCart";
}
<h2>Shopping Cart</h2>
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Catagory</th>
            <th>Price</th>
            <th>Manufactorer</th>
            <th>Remove</th>
        </tr>
        @foreach (var y in ProductController.addedproducts)
        {
            <tr>
                <td><tc>@y.Name</tc></td>
                <td><tc>@y.Catagory</tc></td>
                <td><tc>$@y.Price</tc></td>
                <td><tc>@y.Manufactorer</tc></td>
                <td><tc>@Html.ActionLink("remove", "meShop", "Product", new { m = y.products_id }, null)</tc></td>
            </tr>
        }

    </table>
</body>
</html>