@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We are Alterhate!</p>
<p>We are a competitor of Alternate</p>
<p>Our service and prices are better than theirs!</p>